PORT=5000
SUPABASE_URL=https://wmaozcfjkdrplgnozkdk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtYW96Y2Zqa2RycGxnbm96a2RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MzQzNDgsImV4cCI6MjA5MjExMDM0OH0.xEz2yu5Rwv-ueEmpNNS2t9IbIkY9CP7Zal3kmS8eK_w
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtYW96Y2Zqa2RycGxnbm96a2RrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUzNDM0OCwiZXhwIjoyMDkyMTEwMzQ4fQ.G0ARba_4CKKLpqg73FIvlWC8ZMr6ey7c-sj6ZAGYucU
JWT_SECRET=safesignal_secret_key_123
GROQ_API_KEY=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